# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\taohs\PycharmProjects\Infnet_bachelor-software-engineering\Bloco I\Desenvolvimento-python-para-redes-e-sistemas\exemplo_django_live\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
